#tops {
    width: 850px;
    height: 200px;
    border: 1px solid black;
}

#containers {
    display: flex;
    width: 850px;
    height: 900px;
    justify-content: space-between;
}

#topRight {
    border: 1px solid black;
    width: 510px;
    height: 100px;
    background-color: lightblue;
}

#topLeft {
    border: 1px solid darkgreen;
    width: 326px;
    height: 100px;
    background-color: yellow;
}

p {
    border: 1px solid black;
    width: 100px;
    height: 50px;
    margin-left: 10px;
    background-color: purple;
}